.skills {
  h2 {
    margin-top: 10vh;
    color: var(--principal-pink);
    font-size: 30px;
  }

  h3 {
    font-size: 15px;
    color: #ececec;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-top: 1vh;
  }

  p {
    color: var(--white);
    padding: 10px;
    width: 90%;
    font-family: "Open Sans", sans-serif;
  }
}