.contact {
  text-align: center;
  margin: 16vh auto;

  .contact-content {
    h3 {
      font-size: 30px;
      color: #ececec;
    }
    p {
      color: #ececec;
      opacity: 0.5;
      margin: 25px auto 0 auto;
      width: 40rem;
    }
  }

  .contact-info > a {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    background-color: #17161d;
    width: 250px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 1.2rem;
  }

  .contact-info a {
    color: #ececec;
    text-decoration: none;
  }

  .contact-info a img {
    width: 25px;
    padding-left: 10px;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .contact-content p {
      width: 100%;
    }
  }

  @media (max-width: 280px) {
    .contact-info > a {
      width: 200px;
    }

    .contact-info a {
      font-size: 14px;
    }
  }
}
