.projects {
  .projects-header {
    h2 {
      color: #ed217c;
      margin-top: 8vh;
      font-size: 30px;
    }
    h3 {
      font-size: 15px;
      color: #ececec;
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      margin-top: 1vh;
    }
  }
  .card-container {
    display: flex;
    

    .card {
      background-image: linear-gradient(60deg, #17161d 0%, #1f1e25 100%);
      margin-top: 5vh;
      width: 350px;
      padding-bottom: 20px;
      margin-right: 2rem;
      min-height: 350px;
      border-radius: 10px;
      box-shadow: 10px 0 5px #111114;
    }

    .card-content {
      padding: 0 20px;

      h3 {
        font-size: 22px;
        font-weight: 500;
        margin-top: 20px;
        color: #ececec;
        font-family: "Open Sans", sans-serif;
      }
      p {
        color: #ececec;
        opacity: 0.7;
        font-size: 13px;
        margin-top: 20px;
      }

      img {
        width: 100%;
        margin-top: 20px;
        bottom: 0;
        object-fit: cover;
        height: 180px;
        border-radius: 10px;
        filter: brightness(70%);
      }

      img:hover {
        filter: brightness(100%);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  @media (max-width: 860px) {
    text-align: center;
    .card-container {
      flex-direction: column;

      .card {
        width: 100%;
      }
    }
  }
  @media (max-width: 1350px) {
    .card-container {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
